* {
	font-family:'Courier';
}
div {
	position:absolute;
	white-space:pre;
	border:thin solid black;
	width:15em; 
	margin:1em;
	padding:1em;
	background-color:#eef;
}
hr {
	margin:.5em -1em;
}
i,b {
	color:#00f;
}
